* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header {
  background-image: linear-gradient(to right, #fe4880, #ffce00);
  padding: 15px;
}

header:before {
  content: "/r/";
  display: inline-block;
  color: white;
  font-size: 32px;
  font-weight: 600px;
  font-style: italic;
  background: none;
  outline: none;
  border: none;
  appearance: none;
}
header input {
  display: inline-block;
  color: white;
  font-size: 32px;
  font-weight: 600px;
  font-style: italic;
  /* text-transform: uppercase; */
  background: none;
  outline: none;
  border: none;
  appearance: none;
}

.articles article {
  padding: 30px 15px;
  background-color: white;
  border: 1px solid steelblue;
}

article a {
  color: black;
  /* text-decoration: none; */
}

.articles article img {
  height: 150px;
  width: 150px;
}

.article-container {
  display: flex;
  justify-content: space-between;
}

.load {
  border: none;
  border: none;
  width: 100%;
  padding: 16px 0;
  margin: 10px 10px 0 0;
  background: steelblue;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
